body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.project-intro {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-intro h2 {
  margin-top: 0;
}

.project-intro p {
  line-height: 1.6;
}

.project-intro img {
  width: 25%;
  height: auto;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
